* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  background-color: #0e0f1e;
  color: white;
}
.barra_nav {
  display: flex;
  justify-content: center;
}

.span-logo {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 11ch;

  animation: typing 2s steps(11), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.logo {
  width: 80px; /* Ajusta el ancho según el tamaño de tu logo */
  height: 80px; /* Ajusta la altura según el tamaño de tu logo */
  display: inline-block;
  background-image: url("./assets/logo.png"); /* Reemplaza 'ruta_de_tu_logo.png' con la ruta real de tu imagen */

  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover;
}

.acercaDeMi {
  text-align: center; /* Centrar el contenido horizontalmente */
  color: white;
}

.acercaDeMi h1 {
  font-weight: bold; /* Hacer el título en negrita */
}

.hola {
  padding-top: 120px;
  font-size: 6em;
  color: white;
  /* Hacer el título en negrita */
}

.hola i {
  color: #bcd3ff;
}

.parrafo-hola {
  color: white;
  text-align: center; /* Centra el párrafo */
  font-size: calc(16px + 4px); /* Aumenta el tamaño del texto en 4px */
  font-weight: bold;

  line-height: 1.5; /* Establece la altura de línea para mejorar la legibilidad */
  font-family: "Wellfleet", monospace;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand {
  font-family: "Wellfleet", monospace;
  font-weight: 400;
  font-style: normal;
}
.boton-container {
  display: flex;
  align-items: center;
}

.botones {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.nav-item,
.navbar-brand {
  list-style: none;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.boton {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, #fe00ae, #8e39c5) 1; /* Borde transparente para permitir el gradiente en el borde */
  background-image: transparent; /* Gradiente como fondo */
  background-clip: padding-box; /* Se aplica el fondo solo al área del contenido */
  background-origin: border-box; /* El fondo cubre también el borde */
  color: #ffffff; /* Color del texto */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
}

/* Estilo para cuando pasas el ratón por encima del botón */
.boton:hover {
  background-image: linear-gradient(
    90deg,
    #fe00ae,
    #8e39c5
  ); /* Gradiente como fondo al pasar el ratón */
  color: white; /* Cambia el color del texto al pasar el ratón */
}

.navbar-nav .nav-item .nav-link {
  position: relative; /* Permite posicionar el guion debajo */
}

.navbar-nav .nav-item .nav-link:hover::after {
  content: ""; /* Crea el guion */
  position: absolute; /* Lo posiciona debajo del texto */
  left: 0; /* Lo alinea con el texto */
  bottom: -2px; /* Lo coloca debajo del texto */
  width: 100%; /* Ancho igual al texto */
  height: 2px; /* Altura del guion */
  background-color: #ff5733; /* Color del guion */
}

.navbar-brand:hover {
  color: #ff5733; /* Cambia el color del texto al pasar el mouse a naranja */
  font-weight: bold;
}

.tituloPresentacion {
  text-align: center;
}
.container-imagen-presentacion {
  padding-top: 10px;
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo {
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.cards_fila1 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.cards_fila2 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.card-encabezado {
  text-align: center; /* Esto centra el texto */
  max-width: 100%; /* Esto asegura que el texto no sobresalga del ancho de la imagen */
  padding-bottom: 10px;
}
.card-text + p {
  margin-top: 0.1em; /* Puedes ajustar el valor según tus necesidades */
}
.card-encabezado .card-title {
  margin-top: 10px; /* Espacio superior para separar el título de la imagen */
}

.card-encabezado .card-text {
  margin-bottom: 10px; /* Espacio inferior para separar el texto de los botones */
}

.boton-proyecto {
  margin-right: 20px; /* Separación entre botones */
  border: 2px solid white; /* Borde blanco */
  border-radius: 7px;
  padding: 10px; /* Añade un poco de espacio interior al botón */
}

/* Opcional: Ajusta el tamaño del icono si es necesario */

.contenedor-habilidades {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-direction: column;
}

.habilidades {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.habilidades ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Para evitar márgenes predeterminados de la lista */
}

.habilidades li {
  margin-bottom: 5px;
}

.bg-success.bg-gradient {
  text-align: center; /* Centra el contenido horizontalmente */
  padding-top: 20px;
}

.formulario {
  padding: 80px; /* Ajusta el relleno según sea necesario */
}

.contenedor-formulario {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 38px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
}

.parrafo-formulario p {
  font-family: "Wellfleet", monospace;
  font-weight: 400;
  font-style: normal;
  padding-top: 18px;
}

.container {
  margin: 3em auto;
  display: inline-block;
  position: relative;
  width: 100%;
}

.container svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 17px;
}
.conoceme {
  display: flex;
}

.parrafo-presentacion {
  color: white;
  text-align: left; /* Centra el párrafo */
  font-size: calc(16px + 4px); /* Aumenta el tamaño del texto en 4px */
  font-weight: bold;
  padding: 20px; /* Agrega un padding de 20px alrededor del párrafo */
  line-height: 1.5; /* Establece la altura de línea para mejorar la legibilidad */
  font-family: "Wellfleet", monospace;
  font-weight: 400;
  font-style: normal;
}

.tituloPresentacion {
  padding-bottom: 60px;
}
.sandia {
  text-align: center;
}

.imagen-proyectos {
  width: auto;
  height: 250px;
  display: block;
  border-radius: 7px;

  margin: 0 auto; /* Esto centra la imagen horizontalmente */
  transition: transform 0.5s ease; /* Transición suave */
}

.imagen-proyectos:hover {
  transform: scale(1.1); /* Aumenta el tamaño al 110% */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); /* Sombra */
}

.bento-item {
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(171, 150, 200, 0.8); /* Fondo blanco transparente */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 7px;
}

.card-parrafos{
  padding-top: 3px;
  line-height: 0.5em;

}

/* Estilos específicos para la segunda tarjeta */



@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .conoceme {
    display: flex;
    flex-direction: column;
  }
  .imagen-svg {
    width: 950px;
  }
  .imagen-proyectos {
    width: 460px;
  }
  .card-encabezado {
    max-width: 460px;
  }
  /* Estilos para pantallas grandes y desktops */
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container-imagen-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }

  .conoceme {
    display: flex;
    flex-direction: column;
  }
  .imagen-svg {
    width: 750px;
  }
  .titulo {
    padding-top: 90px;
  }
  .cards_fila1,
  .cards_fila2 {
    flex-direction: column;
    align-items: center;
  }
  .card-encabezado {
    max-width: 100%;
  }
  .habilidades-programas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .contenedor-formulario {
    padding: 0px;
  }
  /* Estilos para laptops y pantallas pequeñas */
}

/* Tablet portrait: 481–768 pixels */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .conoceme {
    display: flex;
    flex-direction: column;
  }
  .container-imagen-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }
  .card-encabezado {
    max-width: 100%;
  }
  .imagen-svg {
    width: 460px;
  }
  .cards_fila1,
  .cards_fila2 {
    flex-direction: column;
  }
  .imagen-proyectos {
    width: 470px;
  }
  .habilidades-programas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .barra {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .home {
    display: flex;
  }

  .hola {
    padding-top: 40px;
  }
  .container-imagen-presentacion {
    display: none;
  }
  .titulo {
    text-align: center;
  }
  .cards {
    flex-direction: column;
  }
  .imagen-proyectos {
    border-top-left-radius: 17px; /* Radio de borde superior izquierdo */
    border-top-right-radius: 17px; /* Radio de borde superior derecho */
    padding: 10px;
    width: -webkit-fill-available;
    height: 200px;
  }

  .cards_fila1,
  .cards_fila2 {
    flex-direction: column;
  }
  .contenedor {
    padding: 30px 10px 30px 10px;
  }
  .card-encabezado {
    text-align: center;
    max-width: 100%;
  }
  .botones-proyecto {
    display: flex;
    justify-content: space-evenly;
  }
  .boton-proyecto {
    padding: 4px 10px 4px 10px;
    background-color: #1e0e17;
    border-radius: 6px;
  }
  .habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .formulario {
    padding: 10px;
  }
  .parrafo-formulario p {
    font-size: 14px;
  }
  .card-parrafos {
    padding-top: 3px;
    line-height: 0.9em;
  /* Estilos para dispositivos móviles */}
}
