/* Estilos globales */
body {
    font-family: Arial, sans-serif;
}

/*Pantallas pequeñas (320px a 767px) */
@media (max-width: 767px) {
    /* Estilos para pantallas pequeñas */
    .navbar {
        background-color: #f8f9fa;
    }
    .acercaDeMi h1 {
        font-size: 24px;
    }
    
}

/* Pantallas medianas (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para pantallas medianas */
    .navbar {
        background-color: #343a40;
    }
    .acercaDeMi h1 {
        font-size: 36px;
    }
    
}

/* Pantallas grandes (1024px o más) */
@media (min-width: 1024px) {
    /* Estilos para pantallas grandes */
    .navbar {
        background-color: #343a40;
    }
    .acercaDeMi h1 {
        font-size: 48px;
    }
}

.contenedor-habilidades ul {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}